@use "tailwindcss";
@use "colors.scss";
/* Large scale tags */
html {
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
  background-color: colors.$bg;
  font-family: "Source Code Pro", monospace;
  color: colors.$text;
}
body {
  height: 100%;
  margin: 0;
  padding-left: colors.$border-lr;
  padding-right: colors.$border-lr;
  padding-top: 4vh;
  padding-bottom: 8vh;
}
#content {
  padding-left: 1vw;
  margin-top: 2vh;
}

/* Headings */
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: colors.$title;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: colors.$heading;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: colors.$heading;
  padding-top: 1rem;
}
h4,
h5,
h6 {
  color: colors.$heading;
  padding-top: 1rem;
}

/* Lists */
ul {
  padding-left: 1rem;
  list-style-type: none;
}
li {
  margin: 0.5rem;
  list-style-type: none;
}

/* Texts */
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.normal {
  color: colors.$title;
  text-decoration: none;
}
em {
  color: colors.$title;
  font-style: normal;
}
.cpp-code {
  color: colors.$hover;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #333333;
  font-family: "Roboto Mono", "Menlo", monospace;
}
a,
.link-like {
  color: colors.$link;
  text-decoration: underline;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
a:hover,
.link-like:hover {
  color: colors.$hover;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

/* Other */
hr {
  height: 1px;
  border: none;
  color: gray;
  background-color: gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
